<%- include('partials/header') -%>


<h2> Create or Select a player name </h2>

<!-- Create a new player -->
<form action="/createPlayer" method="post">
    <input name="playerName" type="text" autocomplete="off">
    <button type="submit">Create a player</button>


</form>

<!-- Select an existing player -->
<form action="/newGame" method="post">
    <label for="players">Select your player</label>
    <select name="selectedPlayer" id="players">
        <% allPlayers.forEach((player) => { %>
        <option name="<%= player.id %>" value="<%= player.name %>"><%= player.name %></option>
        <% }) %>
    </select>

    <button type="submit">Let's Play Yahtzee!!!</button>
</form>

<%- include('partials/footer') -%>